body{
    margin: 0;
    background: url("JordanWallpaper.jpg") no-repeat;
    background-size: cover;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}
li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}

/*'change the link color to othree color on hover*/
li a:hover
{
    background-color:  rgba(255, 68, 0, 0.534);
}

.active 
{
    background-color: orangered;
}

.inputField {
    position: absolute;
    top: 2%;
    right: 30%;
}

.inputField2 {
    position: absolute;
    top: 2%;
    right: 16%;
}

   

#floatRight
{
    float: right;

}

.heading
{
    font-family: Arial;
    color: whitesmoke;
    font-size: 30px;
    


}
.cartB
{
    position: absolute;
    top: 8%;
    right: -19%;;
    /* right: 18%; */
    
}

/* Style The Dropdown Button */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 68, 0, 0.534);
    
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .fnt
  {
      font-family: white;
  }